html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  margin-bottom: 15px;
  padding: 0;
  border: 0;
  font-size: 14px;
  color: #333333;
  line-height: 114%;
  background-color: #ffffff;
}

h1 {
  background: -moz-linear-gradient(top,#d6d3cc 0%, #c0bdb7);
  background: -webkit-gradient(linear, left top, left bottom, from(#d6d3cc), to(#c0bdb7));
  color:#ffffff;
  font-size: 18px;
  padding: 5px 0 5px 15px;
  margin: 0;
}

h2 {
  font-size: 16px;
  margin: 5px 0;
  padding-top: 15px;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 0;
}

form {
  padding: 0;
  margin: 0;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

#container {
  padding: 250px 15px 0 15px;
  width: 100%;
  overflow: hidden;
}

#footer {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  width: 100%;
  height: 16px;
  background: -moz-linear-gradient(top,#d6d3cc 0%, #c0bdb7);
  background: -webkit-gradient(linear, left top, left bottom, from(#d6d3cc), to(#c0bdb7));
  color: #333333;
  border-top: 1px solid #c0bdb7;
  text-align: right;
}

.volume_controller {
  position: fixed;
  right: 15px;
  top: 6px;
  color: #337ab7;
}

.volume_controller span {
  cursor: pointer;
}

.volume_controller a {
  text-decoration: none;
  color: #337ab7;
}

.volume_in {
  color: #337ab7 !important;
}

.volume_out {
  color: #ffffff !important;
}

#cover {
  position: absolute;
  width: 100%;
  height: 180px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  color: #333333;
  font-size: 12px;
}

#cover ul {
  margin: 20px 15px 0 0;
}

#cover li {
  list-style-type: decimal;
  line-height: 180%;
}

#search_form {
  position: absolute;
  width: 100%;
  top: 210px;
  padding: 2px 15px 8px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #cccccc;
}

#result_area {
  margin-top: 20px;
}

#playlist_area {
  margin-top: -250px;
  padding-top: 250px;
  margin-bottom: 60px;
}

@media screen and ( min-width:800px )
{
  #result_area {
    margin-top: 20px;
    float: left;
    width:48%;
  }

  #playlist_area {
    margin-top: -237px;
    padding-top: 250px;
    margin-bottom: 60px;
    float: right; 
    width:48%;
  }

  hr.endTrack {
    border-top: 1px solid #ffffff;
    border-bottom: 0;
  }
  
}

#controller {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0px;
  background: -moz-linear-gradient(top,#f5f5f5 0%, #dcdcdc);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dcdcdc));
  border-top: 1px solid #cccccc;
  padding: 5px 15px;
}

.note {
  position: relative;
  margin: 15px 15px 0 32px;
}

.note:before {
  content: "*";
  position: absolute;
  top: 0px;
  left: -1em;
}

.about {
  position: relative;
  margin: 15px 15px 0 32px;
}

.playlist_image {
  width: 47px;
  float: left;
  margin-bottom: 5px;
}

.track_image {
  width: 47px;
  float: left;
}

.blank_square {
  width: 47px;
  height: 47px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.playlist_title {
  width: 62%;
  float: left;
  margin-left: 5px;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
}

.track_title {
  width: 66%;
  float: left;
  margin-left: 5px;
  font-size: 12px;
}

.play_count {
  font-size: 12px;
  color: #999999;
}

.play_time {
  font-size: 12px;
  color: #999999;
  margin-left: 10px;
}

.add_track_btn {
  width: 44px;
  float: right;
  margin-top: 5px;
}

.add_btn {
  border: 1px solid #337ab7;
}

.add_btn_selected {
  border: 1px solid #337ab7;
}

.add_icon {
  color: #337ab7;
}

.add_icon_selected {
  color: #cccccc;
}

.clear_float {
  clear: both;
}

.track {
  margin-bottom: 8px;
  overflow: hidden;
}

.track a {
  text-decoration: none;
  color: #333333;
}

.add_playlist {
  float: right;
  padding-top: 14px;
}

.add_tracks {
  text-align: right;
  margin: 15px 0;
}

.icon_playlist {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.added_track {
  background-color: #ffffff;
  margin-bottom: 8px;
  overflow: hidden;
}

.playing {
  background-color: #d6d3cc;
}

.added_track a {
  text-decoration: none;
  color: #333333;
}

.delete_track_btn {
  width: 44px;
  float: right;
  margin-top: 5px;
}

.glyphicon-remove {
  color: #d6d3cc;
}

.clear_tracks {
  text-align: right;
  margin: -20px 0 15px 0;
}

.separate_controller {
  margin-right: 10px;
}

.repeat_song {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 10px;
  font-weight: bold;
}

.repeat_icon_on {
  color: #337ab7;
}

.repeat_icon_off {
  color: #999999;
}

.shuffle_icon_on {
  color: #337ab7;
}

.shuffle_icon_off {
  color: #999999;
}

.produced {
  margin-right: 3px;
}

.powered {
  margin-right: 3px;
}

/*overwrite bootstrap*/
.dropdown-menu {
  position: relative;
}